<div class="container">

    <p>student-list works!</p>
   
 <ul class="list-group">
   

    <!-- <button (click)="ShowNewDetail()" class="col-3">Add New Student</button> -->
    <li class="list-group-item" *ngFor="let student of students">
    <div class="row">
        <div class="col-1">{{student.id}}</div>
        <div class="col-1">{{student.firstName}}</div>
        <div class="col-1">{{student.lastName}}</div>
        <div class="col-1">{{student.address}}</div>
        <div class="col-1">{{student.phone}}</div>
        <div class="col-1">{{student.isActive}}</div>
        <div class="col-1">{{student.marksAverage}}</div>
        <button (click)="ShowDetails(student)" class="col-2">Details</button>
        <button (click)="DeleteStudent(student)" class="col-2">Delete</button>
      </div>
    </li>
</ul> 
<app-student-details  [student]="selectedStudent" (onSaveNewStudent)="addNewStudent($event)"></app-student-details>
<button class="btn btn-primary" (click)="ShowNewDetails()" >Add student</button> 
 </div> 

